{% extends "marketplace/default.html" %}
{% block body %}
<h2>Login</h2>

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    
    <input type="submit" value="Login">
</form>

<p>
    Never registered?<a href="{% url 'register'%}">Sign in</a>
</p>
{% endblock %}
