{% extends "marketplace/default.html" %}
{% block body %}
<h2>Change password</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change">
</form>

<a href="{% url 'index' %}">Back to dashboard</a>
{% endblock %}