{% extends "marketplace/default.html" %}
{% block body %}
<h2>Register</h2>
        
<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    {{form.username.label}}
    {{form.username}}

    {{form.email.label}}
    {{form.email}}

    {{form.password1.label}}
    {{form.password1}}

    {{form.password2.label}}
    {{form.password2}}

    <input type="submit" value="Register">
</form>

<p>
    Already have an account?<a href="{% url 'login'%}">Login</a>
</p>

{% endblock %}
