{% extends "./default.html" %}

{% block body %}
<div class="site-content">
    <h1>Add product page</h1>
</div>
<form method = "post" enctype="multipart/form-data"> 
    {% csrf_token %} 
    {{ form.as_p }} 
    <button type="submit">Upload</button> 
</form> 
    </div>

{% endblock %}

{% block scripts %}{% endblock %}