{% extends "./default.html" %}
{% block body %}
      <h1>CHECKOUT SECTION</h1>             
        <form action="checkout" method="post">
          {% csrf_token %}
          <h2>PURCHASE NUMBER</h2>
          <label for="purchase_number">Quantity:</label>
          <input type="number" id="purchase_number" name="purchase_number" min="1" max= {{ product.quantity }}>
          <h2>SHIPPING METHOD</h2>
          <select id="shipping_method" name = "shipping_method">
            <option value="method1">method1</option>
            <option value="method2">method2</option>
            <option value="method3">method3</option>
            <option value="method4">method4</option>
          </select>
          <h2>ADDRESS AND NOTES</h2>
          <div>
              <label for="address">Shipping address</label>
              <textarea id="address" name="address" rows="3" placeholder="address"></textarea>
          </div>
          <div>
              <label for="notes">order notes(optional) </label>
              <textarea id="notes" name="notes" rows="3"></textarea>
          </div>
          <h2>PAYMENT METHOD</h2>
          {% if business_email %}
          <div>
              <select id="payment_method" name = "payment_method">
                <option value="paypal">paypal</option>
                <option value="by cash">by cash</option>
              </select>
          </div>
          {% else %}
          <p>By cash only</p>
          {% endif %}
        <div>
          <button type="submit">Submit</button>
        </div>
          </form>
        
          {% endblock %}

  
