{% extends "./default.html" %}

{% block body %}

    <h2>CONFIRM YOUR ORDER </h2>
    <p>Name :{{ product.name }}</p>
    <p>Description :{{ product.desc }}</p>
    <p>Price :{{ product.price }}</p>
    <p>------------------------------------------------------</p>
    <p>seller name : {{ purchase_log.seller.user.username }}</p>
    <p>seller email : {{ purchase_log.seller.user.email }}</p>
    <p>seller business paypal : {{ purchase_log.seller.business_email }}</p>
    <p>------------------------------------------------------</p>
    <p>Ordered time : {{ purchase_log.posted_at }}</p>
    <p>order number : {{ purchase_log.purchase_number }}</p>
    <p>Shipping address : {{ purchase_log.shipping_address }}</p>
    <p>Shipping method : {{ purchase_log.shipping_method }}</p>
    <p>Payment method : {{ purchase_log.payment_method }}</p>
    <p>Notes : {{ purchase_log.notes }}</p>
    <p>Sum : {{ purchase_log.sum }} </p>
    <p>------------------------------------------------------</p>
    <a href = "{% url 'purchase' purchase_log.id %}">Purchase</a>
    <a href = "{% url 'delete' purchase_log.id %}">Cancel</a>
{% endblock %}
{% block scripts %}{% endblock %}