{% extends "./default.html" %}
{% block body %}
      <h1>EXTRA INFORMATION</h1>             
        <form action="customer_info" method="post">
          {% csrf_token %}
          <h2>NAME</h2>
          <div>
              <label for="name">Name</label>
              <textarea id="name" name="name" placeholder="name"></textarea>
          </div>
          <h2>ADDRESS</h2>
          <div>
              <label for="address">Address</label>
              <textarea id="address" name="address" placeholder="address"></textarea>
          </div>
          <h2>PAY PAL BUSINESS ACCOUNT</h2>
          <div>
              <label for="business_email">pay pal account(optional) </label>
              <textarea id="business_email" name="business_email" ></textarea>
          </div>
        <div>
          <button type="submit">Submit</button>
        </div>
          </form>
        
          {% endblock %}

  
