{% extends './default.html' %}
{% block body %}
    <div class="site-content">
        <div class="container">
            <div class="product-listing">
                {% for product in products %}
                    {# This is really useful but why does it exist, why people think of it, how what and why? #}
                    {# https://getbootstrap.com/docs/4.0/utilities/spacing/ #}
                    <div class="post-card col-2 px-0 u-shadow">
                        {% include "./assets/post-card.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}{% endblock %}
