{% extends "./default.html" %}

{% block body %}
    <div class="site-content">
        <div class="container">
            <div class="item-content">
                <div class="image-and-desc">
                    <img class="item-image"
                     src="{{ product.product_Main_Img.url }}">
                    <div class="item-description">
                        <h2><b>Description</b></h2>
                        <p>{{ product.desc }}</p>
                    </div>
                </div>
                <div class="item-info">
                    <div class="item-header"><h1>{{ product.name }}</h1></div>
                    <div class="item-meta">
                        <div class="seller"><h3><b>Selled by:</b> <span>{{ seller_customer.name }}</span></h3></div>
                        <div class="price-and-quantity">
                            <div class="price"><span>{{ product.price }}</span><span>¥</span></div>
                            <div class="quantity"><span><b>Quantity </b></span><span>{{ product.quantity }}</span></div>
                        </div>
                    </div>
                    <div class="item-purchase">
                        {% if user.is_authenticated %}
                            {% if product.quantity > 0 and user != seller %}
                                <a href="{% url 'checkout' product.id %}">
                                <div class="purchase-button u-shadow">
                                    Purchase
                                </div>
                                </a>
                            {% elif  user == seller %}
                                <a href="{% url 'product_delete' product.id %}">
                                    <div class="purchase-button u-shadow">
                                        Delete
                                    </div>
                                </a>
                            {% elif  product.quantity == 0 %}
                                    <div class="purchase-button u-shadow">
                                        <i>Sold out</i>
                                    </div>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'index' %}">Back to display page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}

