
{% extends "./default.html" %}

{% block body %}
<div class="site-content">
    <h1>Profile page</h1>
</div>
    <body>
        <h2>User Details</h2>
        <h2>Name of user</h2>
        <p>{{ customer.name }}</p>
        <h2>Address of user</h2>
        <p>{{ customer.address }}</p>
        <a href ="{% url 'password_change' %}">Change password </a>
        <a href="{% url 'profile_update' %}">Update information</a>
        <p>------------------------------------------------</p>
        <h2>Products of user</h2>
        {% if products %}
        {% for product in products %}
        <p>{{ product.name }}</p>
        <a href = "{% url 'detail' product.id %}">Detail</a>
        {% endfor %}
        {% else %}
        <p>You don't have any products</p>
        {% endif %}
        <p>------------------------------------------------</p>
        <h2>Selling list </h2>
        {% if selling_lists %}
        {% for selling_list in selling_lists %}
        <p>Buyer email : {{ selling_list.buyer.user.email }} </p>
        <p>Ordered date : {{ selling_list.posted_at }}</p>
        <p>Ordered product : {{ selling_list.product }}</p>
        <p>ordered number : {{ selling_list.purchase_number }}</p>
        <a href = "{% url 'purchaselog' selling_list.id %}">see detail </a>
        {% endfor %}
        {% else %}
        <p>Your products are not sold yet. </p>
        {% endif %}
        <p>------------------------------------------------</p>
        <h2>Buying list </h2>
        {% if buying_lists %}
        {% for buying_list in buying_lists %}
        <p>Seller email : {{ buying_list.seller.user.email }} </p>
        <p>Order date : {{ buying_list.posted_at }}</p>
        <p>Order product : {{ buying_list.product }}</p>
        <p>order number : {{ buying_list.purchase_number }}</p>
        <a href = "{% url 'purchaselog' buying_list.id %}">see detail </a>
        {% endfor %}
        {% else %}
        <p>You have not purchased products. </p>
        {% endif %}
        <br>
        <a href="{% url 'index' %}">Come back</a>
        {% endblock %}
        {% block scripts %}{% endblock %}

