{% extends "./default.html" %}

{% block body %}
<div class="site-content">
    <h1>Purchaselog detail page</h1>
</div>
        <h2>Buyers and users</h2>
        <p>seller name : {{ purchaselog.seller.name }}</p>
        <p>buyer name : {{ purchaselog.buyer.name }}</p>
        <p>seller email : {{ purchaselog.seller.user.email }}</p>
        <p>seller paypal : {{ purchaselog.seller.business_email }}</p>
        <p>buyer email : {{ purchaselog.buyer.user.email  }}</p>
        <h2>Bill details</h2>
        <p>product name : {{ purchaselog.product }}</p>
        <p>Ordered time : {{ purchaselog.posted_at }}</p>
        <p>order number : {{ purchaselog.purchase_number }}</p>
        <p>Shipping address : {{ purchaselog.shipping_address }}</p>
        <p>Shipping method : {{ purchaselog.shipping_method }}</p>
        <p>Payment method : {{ purchaselog.payment_method }}</p>
        <p>Notes : {{ purchaselog.notes }}</p>
        <p>Cash : {{ purchaselog.sum }}</p>
        <a href="{% url 'profile' %}">Back to profile</a>
        {% endblock %}
        {% block scripts %}{% endblock %}


