{% extends "marketplace/default.html" %}

{% block body %}
    <p>your order was sent</p>
    <a href = "{% url 'detail' product.id %}"> Come back </a>
    {% endblock %}
    {% block scripts %}{% endblock %}
