.navigation {
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
}

.navbar {
    display: flex;
    height: 100%;
    padding: 0 50px;
}

.navbar-right {
    display: flex;
    justify-content: right;
    margin-left: auto;
    font-weight: 500;
    color: white;
    font-size: 14px;
}

.navbar-right a {
    color: white;
    text-decoration: none;
}

.navbar-inner-right {
    display: flex;
    flex-direction: row;
}

.navbar-inner-left {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.navbar-inner-left a {
    color: white;
    text-decoration: none;
}


.nav-item {
    padding: 12px;
}