.post-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0px 10px 15px 0px;
    height: 100%;
}

.post-card-information {
    flex-grow: 1;
}

.post-card-image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.post-card-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}

.post-card-meta {
    display: flex;
}

.post-card-meta .price {
    flex-grow: 1;
}

.post-card-content {
    overflow: hidden;
    margin: 7px 0px 12px 0px;
    padding: 0px 7px 0px 7px;
    width: 100%;
}

.post-card-content a {
    color: black;
    text-decoration: none;
}

.post-card-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 12px;
}