.item-content {
    display: flex;
    flex-direction: row;
}

.item-info {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.item-info::before {
    position: absolute;
    content: "";
    right: -999em;
    width: 999em;
    top: 0;
    bottom: 0;
 }

.image-and-desc {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.item-image {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.seller {
    margin-bottom: 100px;
}

.price-and-quantity {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    margin-bottom: 27px;
}

.price {
    color: var(--primary-color);
    font-weight: 600;
    flex-grow: 1;
}


.purchase-button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.product-listing {
    display: flex;
    flex-wrap: wrap;
}