@import "basic.css";
@import "post-card.css";
@import "navigation.css";
@import "product_detail.css";
.site {
    min-height: 100vh;
    background-color: #f1f1f1;
}

.site-header {
    margin-bottom: 30px;
}


.content-container {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

.u-shadow {
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    transition: box-shadow 0.3s ease-in-out;
}