<div class="navigation">
    <div class="navbar">
        <div class="navbar-left">
            <div class="navbar-inner-left">
                <a href="{% url 'index' %}">Da Markeplacito</a>
            </div>
        </div>
        <div class="navbar-right">
            <div class="navbar-inner-right">
                {% if user.is_authenticated %}
                    <div class="nav-item"><a href="{% url 'profile' %}">{{ user.username }}</a></div>
                    <div class="nav-item"><a href="{% url 'add' %}">Add product</a></div>
                    <div class="nav-item"><a href="{% url 'logout' %}">Log out</a></div>
                {% else %}
                    <div class="nav-item"><a href="{% url 'login' %}">Log in </a></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>