{% load static %}
<div class="post-card-information">
    <div class="post-card-image-wrapper">
        <img class="post-card-image"
             src="{{ product.product_Main_Img.url }}">
    </div>
    <div class="post-card-content">
        <a href="/item/{{ product.id }}/detail">
            <div class="post-card-header">
                {{ product.name }}
            </div>
            <div class="post-card-meta">
                <div class="price"><span>{{ product.price }}</span><span>¥</span></div>
                <div class="quantity"><span>Quantity:</span> <span>{{ product.quantity }}</span></div>
            </div>
        </a>
    </div>
</div>